<div class="row text-center mt-4" *ngIf="graphIndividual" style="transform: scale(0.9);">
    <div class="col-lg-12">
        <h1 class="font-weight-bolder font"><a href="#/dashboard" style="text-decoration: none; color: black;">{{totalData.name}}</a></h1>
    </div>
    <div class="confirmed design mr-2 text-left">
        <h6 class="ml-1 mt-1 confirmedText">Confirmed</h6>
        <h4 class="ml-1 confirmedTextNum">{{totalData.confirmed}}</h4>
        <h6 class="ml-1 confirmedText"></h6>
    </div>
    <div class="active design mr-2 text-left">
        <h6 class="ml-1 mt-1 activeText">Active</h6>
        <h4 class="ml-1 activeTextNum">{{totalData.active}}</h4>
        <h6 class="ml-1 activeText"></h6>
    </div>
    <div class="recovered design mr-2 text-left">
        <h6 class="ml-1 mt-1 recoveredText">Recovered</h6>
        <h4 class="ml-1 recoveredTextNum">{{totalData.recovered}}</h4>
        <h6 class="ml-1 recoveredText"></h6>
    </div>
    <div class="deceased design text-left">
        <h6 class="ml-1 mt-1 deceasedText">Deceased</h6>
        <h4 class="ml-1 deceasedTextNum">{{totalData.deaths}}</h4>
        <h6 class="ml-1 deceasedText"></h6>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 text-center">
        <p class="text-muted">Note:select the states to see details of the state</p>
        <h3 [ngClass]="{'textColorConf':category=='Confirmed' ,'textColorAct':category=='Active','textColorRec':category=='Recovered','textColorDes':category=='Deseased'}">{{category}}-Cases</h3>
    </div>
    <div class="col-lg-12">
        <google-chart id="geoChart" type="GeoChart" [data]="geoData" [columns]="columnNames" [options]="geoOptions" (select)="emitEvent($event)">
        </google-chart>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <h1>Spread Trends</h1>
        <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="model">
            <label ngbButtonLabel class="btn-secondary">
              <input ngbButton type="radio" [value]="'cumulative'"> Cumulative
            </label>
            <label ngbButtonLabel class="btn-secondary">
              <input ngbButton type="radio" value="daily"> Daily
            </label>
        </div>
    </div>
</div>
<div class="row text-center" *ngIf="model=='cumulative' && stateGraphView!=true">
    <div class="col-lg-12">
        <h1 class="text-center">India-Cumulative Data</h1>
    </div>
    <div class="col-lg-12" *ngIf="displayCumChart ">
        <!-- {{displayCumChart}}{{cumulative|json}} -->
        <app-line-chart [type]="typeCum.type" [section]="typeCum.section[0]" [cato]="typeCum.cato[0]"></app-line-chart>
    </div>
    <div class="col-lg-12" *ngIf="displayCumChart">
        <app-line-chart [type]="typeCum.type" [section]="typeCum.section[1]" [cato]="typeCum.cato[1]"></app-line-chart>
    </div>
    <div class="col-lg-12" *ngIf="displayCumChart">
        <app-line-chart [type]="typeCum.type" [section]="typeCum.section[2]" [cato]="typeCum.cato[2]"></app-line-chart>
    </div>
    <div class="col-lg-12"></div>
</div>
<div class="row" *ngIf="model!='cumulative' && stateGraphView!=true">
    <div class="col-lg-12">
        <h1 class="text-center">India-Daily Data</h1>
    </div>
    <div class="col-lg-12" *ngIf="displayCumChart ">
        <!-- {{displayCumChart}}{{cumulative|json}} -->
        <app-line-chart [type]="typeDaily.type" [section]="typeDaily.section[0]" [cato]="typeDaily.cato[0]"></app-line-chart>
    </div>
    <div class="col-lg-12" *ngIf="displayCumChart">
        <app-line-chart [type]="typeDaily.type" [section]="typeDaily.section[1]" [cato]="typeDaily.cato[1]"></app-line-chart>
    </div>
    <div class="col-lg-12" *ngIf="displayCumChart">
        <app-line-chart [type]="typeDaily.type" [section]="typeDaily.section[2]" [cato]="typeDaily.cato[2]"></app-line-chart>
    </div>
    <div class="col-lg-12"></div>
</div>


<div class="row text-center" *ngIf="model=='cumulative' && stateGraphView==true && changeState==true">
    <div class="col-lg-12 text-center">
        <h1>{{state}}-Cumulative Data</h1>
    </div>
    <div class="col-lg-12" style="margin-top: -15px;">
        <app-state-graph [code]="stateCode" [cato]="'Confirmed'" [model]="model"></app-state-graph>
    </div>
    <div class="col-lg-12">
        <app-state-graph [code]="stateCode" [cato]="'Recovered'" [model]="model"></app-state-graph>
    </div>
    <div class="col-lg-12">
        <app-state-graph [code]="stateCode" [cato]="'Deseased'" [model]="model"></app-state-graph>
    </div>
    <div class="col-lg-12"></div>
</div>
<div class="row" *ngIf="model!='cumulative' && stateGraphView==true  && changeState==true">
    <div class="col-lg-12 text-center">
        <h1>{{state}}-Daily Data</h1>
    </div>
    <div class="col-lg-12 " style="margin-top: -15px;">
        <app-state-graph [code]="stateCode" [cato]="'Confirmed'" [model]="model"></app-state-graph>
    </div>
    <div class="col-lg-12">
        <app-state-graph [code]="stateCode" [cato]="'Recovered'" [model]="model"></app-state-graph>
    </div>
    <div class="col-lg-12">
        <app-state-graph [code]="stateCode" [cato]="'Deseased'" [model]="model"></app-state-graph>
    </div>
    <div class="col-lg-12"></div>
</div>
<div class="row text-center" *ngIf="model=='cumulative' && stateGraphView==true && changeState==false">
    <div class="col-lg-12 text-center">
        <h1>{{state}}-Cumulative Data</h1>
    </div>
    <div class="col-lg-12" style="margin-top: -15px;">
        <app-state-graph [code]="stateCode" [cato]="'Confirmed'" [model]="model"></app-state-graph>
    </div>
    <div class="col-lg-12">
        <app-state-graph [code]="stateCode" [cato]="'Recovered'" [model]="model"></app-state-graph>
    </div>
    <div class="col-lg-12">
        <app-state-graph [code]="stateCode" [cato]="'Deseased'" [model]="model"></app-state-graph>
    </div>
    <div class="col-lg-12"></div>
</div>
<div class="row" *ngIf="model!='cumulative' && stateGraphView==true  && changeState==false">
    <div class="col-lg-12 text-center">
        <h1>{{state}}-Daily Data</h1>
    </div>
    <div class="col-lg-12 " style="margin-top: -15px;">
        <app-state-graph [code]="stateCode" [cato]="'Confirmed'" [model]="model"></app-state-graph>
    </div>
    <div class="col-lg-12">
        <app-state-graph [code]="stateCode" [cato]="'Recovered'" [model]="model"></app-state-graph>
    </div>
    <div class="col-lg-12">
        <app-state-graph [code]="stateCode" [cato]="'Deseased'" [model]="model"></app-state-graph>
    </div>
    <div class="col-lg-12"></div>
</div>