<div class="row text-center mt-3" *ngIf="display">
    <div class="col-lg-12">
        <h1 class="font-weight-bolder font"><a href="#/dashboard" (mouseover)="changeGraph1()" style="text-decoration: none; color: black;font-size: 2rem;">India</a></h1>
        <p class="text-muted">Note:Click category to change details of the map</p>
    </div>
    <div class="confirmed design mr-2 text-left" (click)="updateGeoChart('confirmed','#FFDFDF', '#ff0000')">
        <h6 class="ml-1 mt-1 confirmedText">Confirmed</h6>
        <h4 class="ml-1 confirmedTextNum">{{totalData.confirmed}}</h4>
        <h6 class="ml-1 confirmedText"></h6>
    </div>
    <div class="active design mr-2 text-left" (click)="updateGeoChart('active','#60ADFF', '#007BFF')">
        <h6 class="ml-1 mt-1 activeText">Active</h6>
        <h4 class="ml-1 activeTextNum">{{totalData.active}}</h4>
        <h6 class="ml-1 activeText"></h6>
    </div>
    <div class="recovered design mr-2 text-left" (click)="updateGeoChart('recovered','#73C686', '#28A745')">
        <h6 class="ml-1 mt-1 recoveredText">Recovered</h6>
        <h4 class="ml-1 recoveredTextNum">{{totalData.recovered}}</h4>
        <h6 class="ml-1 recoveredText"></h6>
    </div>
    <div class="deceased design text-left" (click)="updateGeoChart('deaths','#A3B2C9', '#6C757D')">
        <h6 class="ml-1 mt-1 deceasedText">Deceased</h6>
        <h4 class="ml-1 deceasedTextNum">{{totalData.deaths}}</h4>
        <h6 class="ml-1 deceasedText"></h6>
    </div>
</div>
<br>
<div class="row">
    <div class="col-lg-11 text-right">
        <h6 class="recoveredText">Last updated</h6>
        <h6 class="recoveredTextNum" *ngIf="lastUpdatedHours!=0">about {{lastUpdatedHours}} hours ago</h6>
        <h6 class="recoveredTextNum" *ngIf="lastUpdatedHours==0">about {{lastUpdatedMins}} Minutes ago</h6>
    </div>
</div>
<div class="row mt-5" style="width: 100%;">
    <div class="col-lg-12">
        <div class="input-group flex-nowrap">
            <div class="input-group-prepend ">
                <span class="input-group-text bg-dark text-white" id="addon-wrapping"><fa-icon [icon]="faSearch"></fa-icon></span>
            </div>
            <input type="text" class="form-control search" placeholder="Search State" aria-label="Username" aria-describedby="addon-wrapping" [(ngModel)]="searchTerm">
        </div>
    </div>
</div>
<div class="row overflow-auto" style="width: 100%;">
    <div class="col-lg-12 text-center">
        <br><br>
        <p class="text-muted">Note:Hover over state to change graph details</p>
        <table class="table" matSort (matSortChange)="sortData($event)">
            <thead class="thead-dark">
                <tr>
                    <th mat-sort-header="Position" scope="col">Position.</th>
                    <th mat-sort-header="State" scope="col">State</th>
                    <th mat-sort-header="Confirmed" scope="col">Confirmed</th>
                    <th mat-sort-header="Active" scope="col">Active</th>
                    <th mat-sort-header="Recovered" scope="col">Recovered</th>
                    <th mat-sort-header="Deceased" scope="col">Deceased</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of stateDataStorage|stateFilter:searchTerm:'state';index as i">
                    <th class="text-center">{{item.position}}</th>
                    <th style="width: 25%;"><a [routerLink]='["/dashboard/state/",item.position-1]' (mouseover)="changeGraph(item.statecode)">{{item.state}}</a></th>
                    <td class="text-center">
                        <span style="color: red;font-size: 0.7rem;" *ngIf="item.deltaconfirmed!=0"> <fa-icon [icon]="faArrowUp"></fa-icon>{{item.deltaconfirmed}}</span>&nbsp;&nbsp;&nbsp;{{item.confirmed}}
                    </td>
                    <td class="text-center">
                        {{item.active}}
                    </td>
                    <td class="text-center">
                        <span style="color: green;font-size: 0.7rem;" *ngIf="item.deltarecovered!=0"> <fa-icon [icon]="faArrowUp"></fa-icon>{{item.deltarecovered}}</span>&nbsp;&nbsp;&nbsp; {{item.recovered}}
                    </td>
                    <td class="text-center">
                        <span style="color: red;font-size: 0.7rem;" *ngIf="item.deltadeaths!=0"> <fa-icon [icon]="faArrowUp"></fa-icon>{{item.deltadeaths}}</span>&nbsp;&nbsp;&nbsp;{{item.deaths}}
                    </td>
                </tr>
                <tr class="bg-dark text-white">
                    <th class="text-center font-weight-bolder">#</th>
                    <th class="text-center font-weight-bolder">India-Today Total</th>
                    <th class="text-center">
                        <span class="font-weight-bolder" style="color: red;font-size: 1rem;" *ngIf="todayTotalConfirm!=0"> <fa-icon [icon]="faArrowUp"></fa-icon>{{todayTotalConfirm}}</span>
                    </th>
                    <th class="text-center font-weight-bolder">
                        -
                    </th>
                    <th class="text-center">
                        <span class="font-weight-bolder" style="color: green;font-size: 1rem;" *ngIf="todayTotalRecovered!=0"> <fa-icon [icon]="faArrowUp"></fa-icon>{{todayTotalRecovered}}</span>
                    </th>
                    <th class="text-center">
                        <span class="font-weight-bolder" style="color: red;font-size: 1rem;" *ngIf="todayTotalDeceased!=0"> <fa-icon [icon]="faArrowUp"></fa-icon>{{todayTotalDeceased}}</span>
                    </th>
                </tr>
            </tbody>
        </table>
    </div>
</div>