body {
    background-color: #EFF0F1;
}

.error {
    border: 2px solid red;
}

.valid {
    border: 2px solid green;
}

.search {
    background-color: #343A40;
    /* border: none; */
    color: white;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.search::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1;
    /* Firefox */
}

.search :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: white;
}