<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-8 col-md-2 col-lg-1 mr-0 px-3 text-right" href="#">Covid19-Tracker </a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <!-- <a class="nav-link" href="#" (click)="signout()">
                <fa-icon [icon]="faPowerOff"></fa-icon>
            </a> -->
        </li>
    </ul>
</nav>

<div class="container-fluid">
    <div class="row">
        <!-- Toaster Container componet -->
        <app-toast-container aria-live="polite" aria-atomic="true"></app-toast-container>
        <!--  -->
        <nav id="sidebarMenu" class="col-md-3 col-lg-1 d-md-block bg-dark text-white sidebar collapse sidebar-sticky" style="height: 100vh; position: -webkit-sticky;position: sticky;top: 0;">
            <div class="sidebar-sticky pt-3">
                <ul class="nav flex-column text-left">
                    <li class="nav-item text-left">
                        <a class="nav-link active astyle" routerLink="/" style="color:white">
                            <span> HOME </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link astyle" href="#">
                            <!-- <span class="material-icons" data-toggle="tooltip" data-placement="right" title="Tickets">confirmation_number</span> -->
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link astyle" href="#">
                            <!-- <span class="material-icons" data-toggle="tooltip" data-placement="right" title="Contacts">perm_contact_calendar</span> -->
                        </a>
                    </li>

                </ul>
            </div>
        </nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-11 px-md-4" id="main1">
            <router-outlet></router-outlet>
            <footer class="my-5 pt-5 text-muted text-center text-small">
                <hr>
                <p class="mb-1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&hearts;&nbsp;&nbsp;Stay Home Stay Safe&nbsp;&nbsp;&hearts;</p>
                <ul style="list-style: none;" class="text-center">
                    <li>
                        <a href="https://github.com/vjakash/Covid19-visualizer-Angular" target="_blank"><button class="btn btn-dark"><img src="assets\images\github.png" alt="Github" width="30" height="30" > &nbsp;Open Sourced on Github</button></a>
                    </li>
                    <br>
                    <li><a href="https://www.linkedin.com/in/vijay-akash-6419911a3/" target="_blank"><button class="btn" style="background-color: #EFF7FF;z-index: -1;"><img src="assets\images\in.png" alt="Github" width="30" height="30" > &nbsp;Connect through LinkedIn</button></a></li>
                </ul>
            </footer>
        </main>
    </div>
</div>