.design {
    width: 23%;
    /* border: 1px solid black; */
    border-radius: 5px;
}

.confirmed {
    background-color: #FFE0E6;
}

.confirmedText {
    color: #FF5E7F;
    font-weight: bold;
    font-size: 1rem;
}

.confirmedTextNum {
    color: #FF073A;
    font-weight: bold;
    font-size: 1.8rem;
}

.active {
    background-color: #EFF7FF;
}

.activeText {
    color: #60ADFF;
    font-weight: bold;
    font-size: 1rem;
}

.activeTextNum {
    color: #007BFF;
    font-weight: bold;
    font-size: 1.8rem;
}

.recovered {
    background-color: #E4F4E8;
}

.recoveredText {
    color: #73C686;
    font-weight: bold;
    font-size: 1rem;
}

.recoveredTextNum {
    color: #28A745;
    font-weight: bold;
    font-size: 1.8rem;
}

.deceased {
    background-color: #F6F6F7;
}

.deceasedText {
    color: #A3B2C9;
    font-weight: bold;
    font-size: 1rem;
}

.deceasedTextNum {
    color: #6C757D;
    font-weight: bold;
    font-size: 1.8rem;
}

.search {
    background-color: #343A40;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.search::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1;
    /* Firefox */
}

.search :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: white;
}

.search ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: white;
}


/***********************loader*************************/

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #000;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}


/*****************************************************/